.signup-container {
    background: linear-gradient(135deg, #667eea, #764ba2); 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
h3{
    text-align: center;
    font-weight: bold;
    color:rgb(82, 80, 84);
    text-transform:uppercase;
    text-shadow:1px 1px 2px rgba(0,0,0,0.7);
}
.addUser{
    width:25%;
    margin:50px auto;
    background-color:white;
    padding:40px;
    border-radius: 20px;
    box-shadow:1px 1px 8px rgba(0,0,0,0.065);
}
.addUserForm .inputGroup{
    width:100%;
    display:flex;
    flex-direction:column;
}
.addUserForm .inputGroup label{
    margin-top:10px;
}
.addUserForm .inputGroup input{
    margin-top:5px;
    padding:10px;

}
.inputGroup button{
    margin-top:15px;
}
.Login{
    margin-top:30px;
    text-align: center;
}
.Login.btn.btn-primary{
    width:50%;
}